{% extends "base.html" %}

{% block jumbo %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Uh Oh, Something Broke!</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Error: {{error}}
              </div>
        </div>
      </div>

      <hr>
{% endblock %}